h2 {
	margin: 100px auto 50px;
	text-align: center;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 42px;
	line-height: 49px;

	color: #1A0B5B;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feature {
	display: flex;
	justify-content: space-between;

	margin: 0 0 50px;

	max-width: 1120px;
	width: 100%;
	&__product  {
		position: relative;

		width: 270px;
		height: 360px;

		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);

		overflow: hidden;
		transition: 0.2s linear;
		&:hover {
			z-index: 15;
			transform: scale(1.2);
			.feature__description {
				background: #2F1AC4;
			}
			.feature__title {
				color: #FFFFFF;
			}
			.feature__code {
				color: #FFFFFF;
			}
			.feature__price {
				color: #FFFFFF;
			}
			.feature__details {
				top: 10px;
				opacity: 1;
			}
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;

		width: inherit;
		height: 240px;

		background: #F6F7FB;
	}
	&__description {
		display: flex;
		align-items: center;
		flex-direction: column;

		height: 120px;

		transition: 0.2s linear;
	}
	&__title {
		margin-top: 15px;

		text-align: center;

		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;

		color: #FB2E86;

		transition: 0.2s linear;
	}
	&__color {
		display: flex;
		justify-content: space-between;

		margin-top: 10px;

		width: 50px;
		> div {

			width: 14px;
			height: 4px;

			&:nth-child(1) {
				background: #05E6B7;
			}
			&:nth-child(2) {
				background: #F701A8;
			}
			&:nth-child(3) {
				background: #00009D;
			}
		}
	}
	&__code {
		margin-top: 10px;

		font-family: 'Josefin Sans', sans-serif;
		font-size: 14px;
		line-height: 16px;

		color: #151875;

		transition: 0.2s linear;
	}
	&__price {
		margin-top: 10px;

		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;

		color: #151875;

		transition: 0.2s linear;
	}
	&__zoom {

	}
	&__like {
		
	}
	&__stash {

	}
	&__details {
		position: absolute;
		left: 10px;
		top: -30px;
		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 95px;
		height: 30px;

		background: #08D15F;
		border: none;
		border-radius: 2px;

		font-family: 'Josefin Sans', sans-serif;
		font-size: 12px;
		line-height: 14px;

		color: white;
		opacity: 0;

		transition: 0.2s linear;
	}
}
.labels {
	display: flex;
	justify-content: space-between;

	max-width: 1120px;
	width: 100%;
	&__item {
		padding: 0 25px 0;

		width: 270px;
		height: 320px;

		box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
		transition: 0.2s linear;
		&:hover {
			box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.15);
			.labels__img {
				animation: anim 3s ease-in-out infinite;
			}
		}
		@keyframes anim {
			30% { transform: rotate(20deg); }
			60% { transform: rotate(-20deg); }
			100% { transform: rotate(0deg); }
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 150px;
	}
	&__title {
		text-align: center;

		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;

		color: #151875;
	}
	&__text {
		margin-top: 20px;
		text-align: center;

		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;

		color: rgba(26, 11, 91, 0.3);
	}
}